.episode {
  padding: 10px;
  max-width: 300px;
  min-height: 400px;
  float: left;
}
.episode h1 {
  font-size: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.episode header {
  padding-bottom: 5px;
}
.episode_rating {
  padding-right: 20px;
}
.episode_plot {
  padding-left: 10px;
}
.episode_poster {
  height: 100%;
}
