.search-box {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.search-box_input {
  background-color: transparent;
  color: inherit;
  font-size: 25px;
  line-height: 35px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.search-box_button {
  background: transparent;
  font-size: 20px;
  border: 2px solid #fff;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
